{% load follow_tags %}
<form action="{% follow_url object %}" method="post">
	{% csrf_token %}
    <input type="hidden" name="next" value="{{ request.get_full_path }}" />
	{% if request.user|is_following:object %}
        <a href="#" onclick="$(this).closest('form').submit(); return false;" class=" btn btn-danger btn-sm"><span class="glyphicon glyphicon-minus-sign"></span> Unfollow</a>
	{% else %}
        <a href="#" onclick="$(this).closest('form').submit(); return false;" class=" btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus-sign"></span> Follow</a>
	{% endif %}
</form>
